.image {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image img{
  height: 550px;
  margin: 50px 0px 0px 0px;
  padding: 0px;
  opacity: .5;
  z-index: -1;
} 

.image p {
  color: red;
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
  font-size: 6em;
}

.tagline {
  text-align: center;
  margin: 40px 0px 0px 0px;
}

.tagline a{
  color: black;
  font-size: 2.5em;
  padding: 0px;
  text-decoration: none;
  transition: all .4s ease;
}

.tagline a:hover {
  color: red;
  transition: all .4s ease;
}
